<html>
    <body>
      	<form method="post" action="/user">
                    <label>Mobile<span>*</span></label>
                    <input name="mobile" type="text" id="#" placeholder="Mobile"  required />
				  <button type="submit" class="openBtn_login btn-lg" style="width: 200px  !important;">Login Now</button>

        </form>
    </body>
</html>